$image-background-color: #212121;

@mixin performerItemStyles {
    border-radius: 8px;
    background-color: $image-background-color;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    aspect-ratio: 1/1;
}

.performerItem_container {
    width: 100%;
    aspect-ratio: 1/1;

    .performerItem {
        color: #ffffff80;
        text-align: left;
        cursor: pointer;
        width: 100%;
        aspect-ratio: 1/1;

        .performerImage {
            @include performerItemStyles;
        }

        .performerImageLimited {
            @include performerItemStyles;
            min-width: 180px;
        }

        @media screen and (max-width: 1280px) {
            font-size: 16px;
        }
    }
}
