$dark-white-color: #ffffff80;
$white-color: #fff;

.winMenu {
    position: fixed;
    z-index: 2000;
    left: 0;

    top: unset;
    right: 0;
    bottom: 0;

    width: auto;
    max-width: unset;

    background-color: #121212;

    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    padding: 30px;

    overflow-y: auto;

    .winHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            font-size: 23px;
        }

        button {
            border: none;
            background: transparent;

            svg {
                font-size: 40px;
            }
        }
    }

    .libraryNavigation {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 20px;

        a {
            display: flex;
            align-items: center;
            color: #ffffff80;
            background-color: #ffffff0d;
            border-radius: 8px;
            user-select: none;

            gap: 25px;
            margin: 0px;
            height: 100%;
            padding: 16px;

            svg {
                color: #727272;
                font-size: 24px;
            }
        }
    }
}
